<div class="container-fluid image">
  <div class="row">
    <ng-container *ngIf="favoritesWeather.length>0; else showNoFavorites">
      <app-weather-favorite-info-card class="col-2 card custom-margin-left mr-5 mt-5"
        *ngFor="let weatherItem of favoritesWeather; index as i" [favoritesWeather]="favoritesWeather[i]">
      </app-weather-favorite-info-card>
    </ng-container>
    <ng-template #showNoFavorites>
      <div class="card mx-auto mt-5">
        <div class="card-body">
          <h4 class="card-text">You don't have any favorites cities, please add some.</h4>
        </div>
      </div>
    </ng-template>
  </div>
</div>