<div class="ng-autocomplete mx-auto mb-3">
  <ng-autocomplete [data]="autocompleteData" [searchKeyword]="keyword" (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
    [placeHolder]="placeholder" style="border-radius: 50%;">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>