<div class="jumbotron">
  <ng-container *ngIf="!isDailyLoading; else showLoading">
    <p>{{fetchedCityIndex}}</p>
    <p>{{searchedCity}}</p>
    <p>{{dailyTemperature}} C°</p>
    <p>{{weatherText}}</p>
  </ng-container>
  <ng-template #showLoading>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
  <button type="button" class="btn btn-primary mr-3">Add to favorites</button>
  <button type="button" class="btn btn-primary" (click)="test()">test</button>
  <div class="card-deck" *ngIf="!isForecastLoading; else showLoading">
    <app-weather-info-card class="card" *ngFor="let weatherItem of weatherForecast; index as i"
      [weatherForecast]="weatherForecast[i]">
    </app-weather-info-card>
  </div>
</div>