<ng-container *ngIf="!isDailyLoading; else showDailyLoading">
  <div class="row">
    <div class="mx-auto">
      <div class="card">
        <img class="card-img-top">
        <div class="card-body">
          <img src="https://developer.accuweather.com/sites/default/files/{{weatherIcon}}-s.png">
          <h5 class="card-title">{{fetchedCityName}}</h5>
          <h6 class="card-text">{{dailyTemperature}} C°</h6>
          <h6>{{weatherText}}</h6>
        </div>
      </div>
      <button type="button" class="btn btn-info mt-2">Add to favorites</button>
    </div>
  </div>
</ng-container>
<ng-template #showDailyLoading>
  <div class="row mb-5">
    <div class="mx-auto">
      <span class="sr-only">Loading...</span>
      <div class="spinner-border text-info" role="status"></div>
    </div>
  </div>
</ng-template>
<button type="button" class="btn btn-primary" (click)="test()">test</button>
<div class="card-deck" *ngIf="!isForecastLoading; else showForecastLoading">
  <app-weather-info-card class="card" *ngFor="let weatherItem of weatherForecast; index as i"
    [weatherForecast]="weatherForecast[i]">
  </app-weather-info-card>
</div>
<ng-template #showForecastLoading>
  <div class="row">
    <div class="mx-auto">
      <span class="sr-only">Loading...</span>
      <div class="spinner-border text-info" role="status"></div>
    </div>
  </div>
</ng-template>